.container-flex-products-list{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: 1rem;
}

.card-products-list{

}

.brochure-detail{
   display: flex;
   flex-direction: column;
}

.card-img {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 250px;
   margin: 1rem;
}

.card-img.testimoni{
   height: 350px;
}

.img-brosure{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: 60%;
   margin: 1rem;
}

.wa:hover{
   color: #D81324 !important;
}

.logo_wa_car_detail{
   width: 5%;
}

.img-custom{
   height: 200px;
}

.redirect_wa{
    position: fixed;
    display: block;
    right: 50px;
    bottom: 50px;
    z-index: 9999;
}


@media screen and (max-width: 480px){
   .logo_wa_car_detail{
      width: 10%;
   }

   .team-item{
      /*margin: auto;*/
      /*width: 60%;*/
   }

   .img-custom{
      height: auto;
   }

   .card-img.testimoni{
      height: 430px;
   }

   .img-brosure{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 250px;
      width: 100%;
      margin: 1rem;
   }

   /*.img-detail{
      display: none !important;
   }*/
}

@media screen and (max-width: 800px){
   .logo_wa_car_detail{
      width: 30%;
   }
   .card-img.testimoni{
      height: 430px;
   }

   .img-brosure{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 250px;
      width: 100%;
      margin: 1rem;
   }

   /*.img-detail{
      display: none !important;
   }*/
}